[user]
	name = Andreas Louv
	email = andreas@louv.dk
[push]
	default = simple
	recurseSubmodules = check
[diff]
	tool = vimdiff
	compactionHeuristic = true
	algorythm = histogram
[submodule]
	fetchJobs = 8
[url "ssh://192.168.5.206/git/"]
	insteadOf = work:
[color "diff"]
	commit = normal
	frag = normal normal bold
[color "decorate"]
	HEAD = normal
	branch = normal
	tag = normal
