[user]
	name = Andreas Louv
	email = andreas@louv.dk
	signingkey = 14838A6A
[push]
	default = simple
	recurseSubmodules = check
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
	compactionHeuristic = true
[submodule]
	fetchJobs = 8
[difftool]
	prompt = false
[url "git@github.com:"]
	insteadOf = gh:
[url "ssh://192.168.5.206/git/"]
	insteadOf = work:
[merge]
	tool = vimdiff
[commit]
	gpgsign = true
