[submodule "vim/pack/undotree/opt/undotree"]
	path = vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/pack/rpgle.vim/opt/rpgle.vim"]
	path = vim/pack/plugins/start/rpgle.vim
	url = https://github.com/andlrc/rpgle.vim
[submodule "vim/pack/plugins/start/nofrils"]
	path = vim/pack/plugins/start/nofrils
	url = https://github.com/robertmeta/nofrils
