set completion-ignore-case on

set bell-style visible

# list all matches in case multiple possible completions are possible
set show-all-if-ambiguous on
set show-all-if-unmodified on

# smarter history search
"\C-P": history-search-backward
"\C-N": history-search-forward

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
